input {
    color: var(--clr-text-primary);
    border-bottom: solid var(--clr-input-border) 2px;
    width: 100%;

    &:hover {
        border: solid 2px var(--clr-input-border-hover);
    }

    &:focus {
        border: solid 2px var(--clr-input-border-focus);
    }
}

textarea {
    color: var(--clr-text-primary);
    border-bottom: solid var(--clr-input-border) 2px;
    width: 100%;

    &:hover {
        border: solid 2px var(--clr-input-border-hover);
    }

    &:focus {
        border: solid 2px var(--clr-input-border-focus);
    }
}