#header {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 9999;
	transition: all 300ms ease-in-out;

    @include md {
        opacity: 0;
    }
    .navbar {
        background-color: var(--clr-bg-secondary);

        .container-fluid {
            #header-logo {
                img {
                    display: block;
                    width: 1.8rem;
                }
            }
            #header-logo-text {
                img {
                    display: block;
                    width: 4rem;
                }
            }

            .header-nav {
                display: none;
                margin: auto auto;
                align-items: center;
                justify-content: center;
                position: relative;
                height: 45px;

                a {
                    color: var(--clr-heading-primary);
                    font-size: 10pt;
                    position: relative;
                    text-decoration: none;
                    transition: 0.2s;
                    font-weight: 600;
                }

                @include md {
                    display: flex;
                    gap: 3rem;
                }
                

                @include lg {
                    display: flex;
                    align-items: center;
                    gap: 5rem;
                    
                    a {
                        &:active::after,
                        &:hover::after {
                            position: absolute;
                            content: '';
                            font-weight: 600;
                            height: 2px;
                            width: 20px;
                            background-color: var(--clr-orange);
                            left: 40%;
                            bottom: -5px;
                        }
                        &:nth-child(1) {
                            border-left: none;
                            padding-left: 0;

                            &:active::after,
                            &:hover::after {
                                left: 30%;
                            }
                        }

                        &:nth-child(4) {
                            &:active::after,
                            &:hover::after {
                                left: 40%;
                            }
                        }
                    }
                }
                @include xl {
                    gap: 7rem;

                    a {
                        &:nth-child(1) {
                            border-left: none;  
                            padding-left: 0;

                            &:active::after,
                            &:hover::after {
                                left: 35%;
                            }
                        }

                        &:nth-child(4) {
                            &:active::after,
                            &:hover::after {
                                left: 35%;
                            }
                        }
                    }
                }
            }

            .navbar-toggler {
                border: none;
                margin-right: -5px;

                @include md {
                    display: none;
                }

                .custom-navbar {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    padding: 6px 0px;

                    div {
                        width: 20px;
                        border: 1px solid black;
                    }
                }
            }
        }
    }
}

.hide-header {
	#header {
		transform: translateY(-62px);
	}
}

.scroll-down {
	#header {
		transform: translateY(-62px);
	}
}

.scroll-up {
	#header {
        opacity: 1;
		transform: translateY(0);
		filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
	}
}

.menu-is-open {
	overflow: hidden;

	#header {
		filter: none;
	}
}
